include littletable.py
include littletable_demo.py
include pivot_demo.py
include setup.py
include unit_tests.py
include CHANGES
include LICENSE
include README.md
include htmldoc\*.*
include HowToUseLittletable.txt